.postDetails_container {
    display: flex;
    flex-direction: column;
    width: 54%;
    font-size: 1.7rem;
    padding-bottom: 13rem;
}

.postDetails h1 {
    text-align: center;
    color: #00b37e;
}

.postDetails .user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem 0 2rem;
    color:#9d9d9e;
}

.postDetails .user > div {
    margin: 0 0.5rem 0 1.5rem;
}

.postDetails .user a {
    color: #4faf8c;
}

.postDetails .user a:hover {
    text-decoration: underline;
}

.postDetails .tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2.3rem;
}

.postDetails .tags span {
    background-color: rgba(4, 211, 97, 0.6);
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.3rem 0.6rem;
}

.postDetails .content {
    color: #c4c4c4;
    line-height: 2.7rem;
    margin-bottom: 2rem;
}

.postDetails .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    margin-top: 1.8rem;
    padding: 0 1.5rem;
}

.postDetails .social button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: #e1e1e6;
}

.postDetails .social button svg {
    font-size: 2.7rem;
}

.postDetails .social .like_dislike {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

.postDetails .social .like_dislike .like,
.postDetails .social .like_dislike .dislike {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.postDetails .social .like_dislike .like button svg {
    color: #8cc84b;
}

.postDetails .social .like_dislike .dislike button svg {
    color: #da3251;
}

.postDetails .social .favorite button svg {
    color: #1fb5d7;
}

.comments_container {
    display: flex;
    flex-direction: column;
    margin-top: 4.4rem;
}

.comments_container .commentsCount {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.9rem;
}

.comments_container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 3.5rem;
    position: relative;
}

.comments_container form input:first-child {
    font-size: 1.7rem;
    background: transparent;
    color: #e1e1e6;
    border: none;
    outline: none;
    border-bottom: 1px solid #545456;
    padding: 0 0.8rem 0.7rem;
}

.comments_container form input:first-child::placeholder {
    color: #9d9d9e;
}

.comments_container form .underline {
    position: absolute;
    top: 26px;
    width: 100%;
    height: 2px;
}

.comments_container form .underline:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #037e51;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.comments_container form input:first-child:focus ~ .underline:before {
    transform: scaleX(1);
}

.comments_container form .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
    animation: opacityEffect 0.3s ease-in-out;
}

.comments_container form .buttons button,
.comments_container form .buttons input {
    font-size: 1.7rem;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: none;
    color: #e1e1e6;
    font-weight: 500;
    transition: 0.2s;
}

.comments_container form .buttons button {
    background-color: rgba(255, 255, 255, 0.130);
}

.comments_container form .buttons button:hover {
    background-color: #3a3a3b;
}

.comments_container form .buttons input {
    background-color: #025638;
}

.comments_container form .buttons input:hover {
    background-color: #037e51;
}

.comments_container form .buttons input:disabled {
    background-color: rgb(2, 86, 56, 0.6);
    color: #c2c2c3;
    cursor: not-allowed;
}

.comments_container .commentsList {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.comments_container .commentsList .comment {
    display: flex;
    gap: 0.9rem;
}

.commentsList .comment .commentContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
}

.commentsList .comment .commentContent span {
    font-weight: 500;
}

.commentsList .comment .commentContent p {
    color: #c4c4c4;
}

@keyframes opacityEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}