.nav_container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.3rem 3rem;
    background-color: #111114;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a svg {
    font-size: 4.2rem;
    margin-right: 1rem;
    color: #038c5a;
}

.logo a h1 {
    font-size: 2.2rem;
}

.search {
    display: flex;
    position: relative;
    width: 30%;
}

.search input {
    width: 100%;
    background: transparent;
    color: #e1e1e6;
    border: 1px solid #545456;
    border-radius: 20px;
    padding: 1rem 3.7rem 1rem 1.2rem;
    font-size: 1.5rem;
    transition: 0.3s;
}

.search input:focus {
    border: 1px solid #038c5a;
}

.search input::placeholder {
    color: #9d9d9e;
}

.search button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    background: transparent;
    color: #9d9d9e;
    top: 0;
    right: 12px;
    bottom: 0;
    padding: 0;
    font-size: 1.8rem;
    transition: 0.3s;
}

.search button:hover {
    color: #e1e1e6;
}

.auth_container {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #a8a8b3;
}

.auth_container a {
    transition: 0.3s;
    color: #a8a8b3;
}

.auth_container a:hover {
    color: #e1e1e6;
}

.auth_container .active,
.auth_container .active:hover {
    color: #00b37e;
}

.auth_user div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.auth_user div:hover {
    border: 2px solid #00b37e;
}

.auth_user div svg {
    font-size: 1.8rem
}

.is_open {
    border: 2px solid #00b37e;
}

.drop_menu.open {
    display: flex;
}

.drop_menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    background-color: rgb(30, 30, 34);
    position: absolute;
    top: 6rem;
    right: 3rem;
    width: 20%;
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 1.6rem;
}

.drop_menu .user {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #545456;
}

.drop_menu .user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.drop_menu .user span {
    font-size: 1.8rem;
    font-weight: 600;
}

.drop_menu .edit_profile div svg {
    font-size: 2.1rem;
}

.drop_menu .my_posts div svg {
    font-size: 1.8rem;
}

.drop_menu .signout div svg {
    font-size: 1.9rem;
}

.drop_menu .signout {
    cursor: pointer;
}

.drop_menu .user,
.drop_menu .edit_profile,
.drop_menu .my_posts,
.drop_menu .favorite_posts,
.drop_menu .signout {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.drop_menu .edit_profile,
.drop_menu .my_posts,
.drop_menu .favorite_posts,
.drop_menu .signout {
    border-radius: 8px;
}

.drop_menu .edit_profile div,
.drop_menu .my_posts div,
.drop_menu .favorite_posts div,
.drop_menu .signout div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.drop_menu .edit_profile:hover,
.drop_menu .my_posts:hover,
.drop_menu .favorite_posts:hover,
.drop_menu .signout:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.drop_menu .edit_profile:hover div,
.drop_menu .my_posts:hover div,
.drop_menu .favorite_posts:hover div,
.drop_menu .signout:hover div {
    background: transparent;
}

.drop_menu .edit_profile:hover div svg,
.drop_menu .my_posts:hover div svg,
.drop_menu .favorite_posts:hover div svg,
.drop_menu .signout:hover div svg {
    transition: 0.2s;
    color: #00b37e;
}

.signup {
    font-size: 1.5rem;
    font-weight: bold;
}

.signup a {
    border: 1px solid #038c5a;
    border-radius: 5px;
    padding: 1.1rem;
    transition: 0.3s;
}

.signup a:first-child {
    margin-right: 1rem;
}

.signup a:hover {
    border: 1px solid #038c5a;
    background-color: #038c5a;
}

.signup .active,
.signup .active:hover {
    border: 1px solid #025436;
    background-color: #025436;
}
